## **02_Exploration**

In dieser Dateien werden die Daten eingelesen, analysiert und basierend auf den Ergebnissen der Analyse aufbereitet.
Anschlie√üend erfolgt eine erneute Sichtung der aufbereiteten Daten.

In [662]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load Functions
from functions import *

In [663]:
# Alle Spalten eines Datensatzes anzeigen
pd.set_option('display.max_columns', None)

### Daten einlesen

In [664]:
# Daten einlesen
df = pd.read_csv('../data/input_data/property_sales_2004-2024.csv')

/var/folders/jf/k1y_jzxs5177jm_fgv__dnww0000gn/T/ipykernel_89644/3083932517.py:2: DtypeWarning: Columns (16,18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/input_data/property_sales_2004-2024.csv')

### Dateneinsicht

In [665]:
# Ausgabe von zehn zuf√§lligen Eintr√§gen
df.sample(n=10)

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price,PropertyID,taxkey,nbhd,Rooms,FinishedSqft
51687,Residential,NaN,3040 S 14TH ST,NaN,14.00,NaN,Milwaukee Bungalow,Aluminum/Vinyl,1.00,1923.00,NaN,NaN,1.00,5.00,1.00,NaN,4200.00,7/17/2019,145000.00,230581.00,5080124000.00,4180.00,7.00,1470.00
21393,Residential,NaN,4502 N 21ST ST,NaN,1.00,NaN,Colonial,Aluminum/Vinyl,2.00,1941.00,NaN,NaN,1.00,3.00,1.00,1.00,"4,800",4/9/2021,"$82,000",868059.00,2310523000.00,1620.00,6.00,"1,272"
46095,Residential,NaN,3510 S 2ND ST,NaN,13.00,NaN,Cape Cod,Aluminum/Vinyl,1.00,1953.00,NaN,NaN,1.00,6.00,1.00,0.00,6480.00,2022-03-25,190000.00,245301.00,5491206000.00,4620.00,10.00,1195.00
10747,Residential,NaN,3203 S 43RD ST,NaN,11.00,NaN,Ranch,Brick,1.00,1952.00,NaN,NaN,1.00,3.00,2.00,0.00,"7,320",11/19/2020,"$227,500",860877.00,5310615000.00,4410.00,5.00,"1,359"
43980,Lg Apartment,NaN,1601 N JACKSON ST,NaN,3.00,NaN,AP4 (Conv Apt with 21 or more Units),Masonary Frame,4.00,2013.00,NaN,NaN,34.00,NaN,0.00,0.00,9988.00,2022-02-11,7500000.00,193080.00,3601801000.00,6974.00,NaN,29340.00
37495,Residential,NaN,527-529 S 74TH ST,NaN,10.00,NaN,Duplex N/S,Aluminum/Vinyl,2.00,1959.00,NaN,NaN,2.00,4.00,2.00,0.00,4200.00,6/17/2024,285000.00,205678.00,4190621100.00,2710.00,8.00,1826.00
27774,Condominium,3531521000.00,1924 N HUBBARD ST,SHOEWORKS LOFTS,6.00,5971.00,APARTMENT,NaN,1.00,1945.00,3.00,860.00,1.00,1.00,1.00,0.00,0,2010-09,138500,NaN,NaN,NaN,NaN,NaN
43532,Residential,NaN,2013-2015 N 41ST ST,NaN,15.00,NaN,Duplex O/S,Aluminum/Vinyl,2.00,1910.00,NaN,NaN,2.00,8.00,2.00,0.00,2112.00,2022-01-19,28000.00,185125.00,3480747200.00,2380.00,20.00,1876.00
36901,Condominium,NaN,"2080 N COMMERCE ST, Unit 409",UNION POINT CONDOMINIUM,6.00,NaN,Mid Rise 4-12 Stories,NaN,1.00,2007.00,NaN,NaN,1.00,1.00,1.00,0.00,0.00,12/13/2024,155000.00,189409.00,3541662000.00,5826.00,3.00,748.00
44871,Condominium,NaN,"215 W MAPLE ST, Unit 105",PARTS HOUSE LOFTS CONDOMINIUMS,12.00,NaN,Mid Rise 4-12 Stories,NaN,1.00,1921.00,NaN,NaN,1.00,2.00,2.00,0.00,0.00,2022-01-24,230000.00,216404.00,4621640000.00,5283.00,2.00,1292.00

In [666]:
# Ausgabe der Datensatz-Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67635 entries, 0 to 67634
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PropType      67622 non-null  object
 1   Taxkey        29899 non-null  float64
 2   Address       67629 non-null  object
 3   CondoProject  10696 non-null  object
 4   District      67631 non-null  float64
 5   Nbhd          29899 non-null  float64
 6   Style         67532 non-null  object
 7   Extwall       53992 non-null  object
 8   Stories       67446 non-null  float64
 9   Year_Built    67567 non-null  float64
 10  Nr_of_rms     29899 non-null  float64
 11  Fin_sqft      29899 non-null  float64
 12  Units         67633 non-null  float64
 13  Bdrms         65688 non-null  float64
 14  Fbath         66978 non-null  float64
 15  Hbath         62793 non-null  float64
 16  Lotsize       67632 non-null  object
 17  Sale_date     67633 non-null  object
 18  Sale_price    67623 non-null  object
 19  PropertyID    37734 non-null  float64
 20  taxkey        37734 non-null  float64
 21  nbhd          37677 non-null  float64
 22  Rooms         35788 non-null  float64
 23  FinishedSqft  37622 non-null  object
dtypes: float64(15), object(9)
memory usage: 12.4+ MB

In [667]:
# Ausgabe der Anzahl der Zeilen und Spalten
print(f'Anzahl Zeilen: {df.shape[0]}')
print(f'Anzahl Spalten: {df.shape[1]}')

Anzahl Zeilen: 67635
Anzahl Spalten: 24

In [668]:
# Anzahl der NaN-Werte pro Spalte (Absolut und Relativ)
df_nan = get_nanValue(df)
df_nan

              Anzahl NaN  Prozent NaN_
CondoProject       56939         84.19
Nr_of_rms          37736         55.79
Nbhd               37736         55.79
Taxkey             37736         55.79
Fin_sqft           37736         55.79
Rooms              31847         47.09
FinishedSqft       30013         44.37
nbhd               29958         44.29
taxkey             29901         44.21
PropertyID         29901         44.21
Extwall            13643         20.17
Hbath               4842          7.16
Bdrms               1947          2.88
Fbath                657          0.97
Stories              189          0.28
Style                103          0.15
Year_Built            68          0.10
PropType              13          0.02
Sale_price            12          0.02
Address                6          0.01
District               4          0.01
Lotsize                3          0.00
Sale_date              2          0.00
Units                  2          0.00

In [669]:
# Ausgabe der statistischen Kennzahlen der numerischen Variablen
pd.set_option("display.float_format", "{:.2f}".format) # Wissenschaftliche Schreibweise verhinden
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Taxkey,29899.00,3734458514.86,1479836015.18,10021000.00,2706016550.00,3591432000.00,5070827500.00,7169999120.00
District,67631.00,7.96,4.22,1.00,4.00,8.00,11.00,15.00
Nbhd,29899.00,3822.75,1799.40,40.00,2100.00,4320.00,5283.00,6982.00
Stories,67446.00,1.36,0.62,0.00,1.00,1.00,2.00,40.00
Year_Built,67567.00,1926.93,182.58,0.00,1923.00,1950.00,1959.00,2024.00
Nr_of_rms,29899.00,0.68,1.64,0.00,0.00,0.00,0.00,12.00
Fin_sqft,29899.00,2535.69,9259.78,0.00,1063.00,1344.00,1943.00,378717.00
Units,67633.00,1.55,8.23,0.00,1.00,1.00,1.00,781.00
Bdrms,65688.00,3.14,8.07,0.00,2.00,3.00,4.00,2031.00
Fbath,66978.00,1.38,0.71,0.00,1.00,1.00,2.00,10.00
Hbath,62793.00,0.32,0.51,0.00,0.00,0.00,1.00,10.00
PropertyID,37734.00,412311.08,327264.27,98422.00,158895.25,222696.00,856787.75,881476.00
taxkey,37734.00,3488833707.26,1492266320.43,10011000.00,2452053750.00,3220465550.00,4901190000.00,7160380000.00
nbhd,37677.00,3373.69,1819.23,40.00,1840.00,3060.00,4660.00,42703.00
Rooms,35788.00,6.73,3.24,0.00,5.00,6.00,8.00,70.00

In [670]:
# Anzeige der kleinsten Eintr√§ge bei der Variable Year_Built, um den Schwellenwert f√ºr fehlerhafte Eintr√§ge zu identifizieren
print(df['Year_Built'].drop_duplicates().nsmallest(10).tolist())

# Anzeige der gr√∂√üten Eintr√§ge bei der Variable Bdrms, um den Schwellenwert f√ºr fehlerhafte Eintr√§ge zu identifizieren
print(df['Bdrms'].drop_duplicates().nlargest(10).tolist())

[0.0, 203.0, 206.0, 910.0, 1835.0, 1836.0, 1840.0, 1843.0, 1844.0, 1848.0]
[2031.0, 43.0, 32.0, 29.0, 28.0, 25.0, 21.0, 20.0, 18.0, 17.0]

In [671]:
categoricalVar = [col for col in df if df[col].dtype == 'object']
for i in categoricalVar:
    print(i)
    print(df[i].unique())
    print('')

PropType
['Residential' 'Condominium' 'Lg Apartment' 'Commercial' 'Vacant Land'
 'Manufacturing' 'Exempt' nan]

Address
['7144 N 38TH ST' '5346 N 52ND ST' '4155 N 13TH ST' ...
 '4825 N HOPKINS ST' '1665 S 11TH ST' '10512 W GLENBROOK CT']

CondoProject
[nan '1522 ON THE LAKE CONDOMINIUMS' '1653 JACKSON' '1691 N MARSHALL ST'
 '224 W VINE STREET CONDOMINIUMS' '601 LOFTS ' 'ABBOTSFORD CONDOMINIUM'
 'ARBOR RIDGE' 'ASTOR COURT AT EAST POINTE' 'ATELIER BLDG CONDOMINIUM'
 'BARTLETT CONDOMINIUMS' 'BAYVIEW COMMONS CONDOMINIUMS' 'BAYVIEW TERRACE'
 'BEERLINE RIVER HOMES' 'BELLA CASA CONDOMINIUM' 'BELLEVIEW MANOR'
 'BENCHMARK CONDOMINIUMS' 'BLATZ ' 'BOSTONIAN VILLAGE NORTH'
 'BOSTONIAN VILLAGE SOUTH' 'BRADY BELLA CONDOMINIUMS' 'BREAKWATER CONDOS'
 'BREW CITY LAGER CONDOMINIUM' 'BREW CITY STEIN CONDOMINIUM'
 'BREWERY LOFTS' 'BROADWAY CONDOMINIUM' 'CAMBRIDGE CROSSING TOWNHOMES'
 'CAMBRIDGE HEIGHTS' 'CAMBRIDGE TERRACE CONDOMINIUM'
 'CATHEDRAL SQUARE CONDOMINIUMS' 'CAWKER BUILDING' 'CHALET'
 'CHATEAU COURT' 'CHATEAU' 'CHEROKEE POINT' 'CITY GREEN CONDOMINIUM'
 'CITYSIDE PLAZA' 'CLOISTERS NW' 'COBBLERS LOFTS' 'COLLEGE HEIGHTS'
 'COLONY RIDGE' 'COMMERCE BLUFF ONE' 'COMMODORE' 'CORNERSTONE CROSSING'
 'COURTYARD SQUARE' 'CRAMER MANOR' 'CRESCENT CONDOS' 'CUDAHY CONDOS'
 'DIAMOND TOWER' 'DOWNER SQUARE' 'EAST LLOYD STREET CONDOS'
 'EAST RIVER ROW' 'EAST VILLAGE CONDOS' 'EASTMORE' 'EASTTOWN'
 'EDGAR CONDOMINIUM' 'EDGE CONDOMINIUMS' 'EDGEWATER TERRACE'
 'FENWICK CONDOMINIUM' 'FLATIRON CONDOMINIUM' 'FOREST COURT'
 'FOREST HILLS' 'FRANKLIN PLACE COACH HOUSE' 'FRANKLIN PLACE CONDOMINIUMS'
 'FRIEDMANN ROW' 'GALLUN TANNERY ROW' 'GEORGETOWN' 'GEORGIAN COURT'
 'GORDON KNOLL' 'GRAIN EXCHANGE CONDOS' 'GRANTOSA HEIGHTS'
 'GREENWICH AVE LLC' 'GREENWICH CONDOMINIUM' 'HAMPSHIRE COURT'
 'HARBOR FRONT' 'HARBOR VIEW' 'HEATHERS PARK' 'HEATHERS'
 'HI-FI LOFTS CONDOMINIUMS' 'HIGH BRIDGE CONDOS' 'HIGHLANDS ON PARK'
 'HOLLY HEIGHTS' 'HONEY CREEK CONDOMINIUM' 'HUMBOLDT RIDGE TOWNHOMES'
 'JACKSON STREET TOWNHOMES' 'JADE GARDENS' 'KANE PLACE LOFTS'
 'KILBOURN ROW' 'KILBOURN TOWER' 'KNICKERBOCKER ON THE LAKE'
 "L'HERMITAGE CONDOMINIUM" 'LAFAYETTE HILL'
 'LAKE BLUFF AT EAST TOWN CONDOMINIUM' 'LAKE DRIVE TOWNHOUSES' 'LAKE PARK'
 'LANDMARK ON THE LAKE' 'LANTERNE COURT' 'LINCOLN LOFTS LLC'
 'LINCOLN TERRACE' 'LINCOLNSHIRE CIRCLE' 'LOFTS ON BROADWAY' 'LYON COURT'
 'LYON STREET' 'MADISON HEIGHTS' 'MAPLE TERRACE' 'MARINA SOUND'
 'MARINE TERMINAL LOFTS' 'MAYFAIR CONDOMINIUM' 'MB CONDOMINIUM'
 'MCCORMICK ON FARWELL' 'MILL VALLEY' 'MODERNE' 'NEWBERRY CONDOMINIUMS'
 'NEWPORT COURT II' 'NEWPORT COURT' 'NEWPORT WEST' 'NORTHRIDGE EASTBAY'
 'NORTHRIDGE THE TREES' 'NORTHRIDGE WOOD LAKE'
 'PALMER BUILDING CONDOMINIUM' 'Panlener Condominiums' 'PARC RENAISSANCE'
 'PARK TERRACE BLUFF HOMES ' 'PARK TERRACE ROW HOUSES'
 'PARKWAY VILLAGE (1)' 'PARKWAY VILLAGE (PHASE IV)'
 'PARKWAY VILLAGE PHASE II & III' 'PARNELL WOODS'
 'PARTS HOUSE LOFTS CONDOMINIUMS' 'PATIO HOMES AT CHEROKEE POINT CONDO'
 'PEARSON BOURN CONDOMINIUMS' 'PLEASANT STREET'
 'POINT ON THE RIVER CONDOS' 'RAVINA PARC' 'RED OAKS V' 'REGENCY HOUSE'
 'RESERVOIR HILL TOWNHOMES' 'RESERVOIR STREET LOFTS' 'RIVER HOUSES'
 'RIVER RENAISSANCE' 'RIVER WOODS-ASH-(THE GLADES) ' 'RIVERBRIDGE'
 'RIVERCREST CONDOMINIUM' 'RIVERFRONT LOFTS' 'RIVERVIEW SIX'
 'RIVERWALK PLAZA' 'ROXWELL LOFTS' 'ROYAL ORLEANS' 'SALOON CONDOS'
 'SERVITE MANOR' 'SERVITE WOODS (ATRIUM)'
 'SERVITE WOODS (TRILEVEL & BILEVEL)' 'SHAKER HEIGHTS' 'SHOEWORKS LOFTS'
 'SKY CONDO 2' 'SPRING TERRACE SOUTH' 'ST CLAIR CONDOMINIUM'
 'STERLING CONDOMINIUM' 'STONEHENGE' 'SUMMIT HOUSE' 'TERRACE BELLVIEW'
 'THREE TWENTY CONDOMINIUM' 'TIMBER RIDGE VILLAGE'
 'TRANSPORTATION DISTRICT' 'TROSTEL SQUARE CONDOMINIUMS'
 'UNION POINT CONDOMINIUM' 'UNIVERSITY CLUB TOWER CONDOS'
 'VAN BUREN CITYLOFTS' 'VILLA DU COURS (ATRIUM)'
 'VILLA DU COURS (ELEVATOR)' 'VILLARD GREEN' 'WALLARD MANOR/Kane Place'
 'WAREHOUSE 525 CONDOMINIUM' 'WAREHOUSE LOFTS'
 'WATER STREET LOFTS CONDOMINIUM' 'WATERFORD CONDO' 'WATERFRONT CONDO'
 'WATERS EDGE' 'WATERTOWER ROW' 'WESTERN LEATHER LOFTS'
 'WHISPERING HILLS (ELEVATOR)' 'WHISPERING HILLS (TOWNHOUSE)'
 'WHISPERING HILLS (WALK-UP)' 'WHITNALL SQUARE' 'WILLOW CREEK'
 'WILSON VILLAGE' 'WINDSOR COACHHOUSE CONDOS'
 'WINDSOR PLACE COACH HOUSE CONDO' 'WISCONSIN TOWER' 'WOODLANDS'
 'WOODSTOCK CONDOMINIUM' '10: 2-Br ' '3: 1-Br ,3: 2-Br '
 '3: 2-Br ,15: 1-Br ' '4: 3-Br ' '6: 1-Br ' '6: 1-Br ,4: 2-Br ' '8: 1-Br '
 '18: 2-Br ,1: 3-Br ' '2: 2-Br ,2: 1-Br ' '4: 2-Br ' '8: 2-Br '
 '1: 1-Br ,1: 1-Br ,1: 2-Br ,1: 2-Br '
 '1: 1-Br ,1: 2-Br ,1: 2-Br ,1: 2-Br '
 '1: 2-Br ,1: 1-Br ,1: 1-Br ,1: 2-Br ,1: 2-Br ,1: '
 '1: 3-Br ,1: 3-Br ,1: 3-Br ,1: 3-Br ,1: 3-Br ,1: ' '24: 1-Br ,12: 2-Br '
 '4: 1-Br ' '4: 1-Br ,1: 2-Br ' '4: 1-Br ,4: 2-Br ' '5: 1-Br ,6: 2-Br '
 '6: 1-Br ,7: 2-Br ' '6: 2-Br '
 '64: 1-Br ,4: 1-Br ,8: 3-Br ,62: 1-Br ,6: 3-Br ,4' '7: 2-Br '
 '1: 1-Br ,3: 2-Br ' '1: 2-Br ,8: 3-Br ' '12: 1-Br '
 '16: 2-Br ,2: 2-Br ,1: 2-Br ,8: 2-Br ,8: 2-Br ,2:' '2: 2-Br ,1: 3-Br '
 '20: 1-Br ' '3: 1-Br ,10: 1-Br ' '5: 1-Br ,1: 2-Br ' '6: 1-Br ,2: 2-Br '
 '6: 3-Br ' '8: 2-Br ,4: 3-Br ,8: 2-Br ,4: 3-Br ' '9: 3-Br '
 '1: 2-Br ,1: 2-Br ' '16: 1-Br ' '24: 2-Br ' '3: 2-Br ,1: 2-Br '
 '18: 1-Br ' '3: 2-Br ,1: 3-Br ' '4: 1-Br ,8: 2-Br ' '11: 2-Br ,1: 3-Br '
 '2: 1-Br ,1: 4-Br ,1: 3-Br ' '2: 2-Br ,2: 3-Br '
 '1: 1-Br ,1: 1-Br ,1: 1-Br ,1: 1-Br '
 '1: 2-Br ,1: 2-Br ,1: 2-Br ,1: 2-Br ' '5: 2-Br ,4: 3-Br '
 '6: 3-Br ,1: 2-Br ' '2: 1-Br ,2: 2-Br ' '5: 2-Br ' '8: 2-Br ,4: 2-Br '
 '3: 1-Br ,9: 2-Br ' '32: 3-Br ' '4: 1-Br ,5: 2-Br ' '2: 2-Br '
 '4: 1-Br ,2: 2-Br ' '5: 1-Br ,1: 2-Br ,2: 2-Br '
 '15: 1-Br ,13: 2-Br ,47: 1-Br ' '4: 2-Br ,2: 3-Br ' '1: 2-Br ,2: 1-Br '
 '2: 2-Br ,1: 1-Br ,1: 3-Br ' '3: 1-Br ' '3: 1-Br ,2: 2-Br '
 '3: 2-Br ,1: 1-Br ' '49: 1-Br ,1: 2-Br ' 'CONDO IV' 'HIGHLANDS 2'
 'SERVITE COLONY' 'SERVITE DRIVE GARDENS' 'COUNTRY VILLAS' 'RAINTREE'
 'ROYAL ORLEANS ADDITION' 'MAIN WEST' 'SPRING TERRACE NORTH'
 'SARATOGA PLACE' 'UILEIN ESTATE TOWN HOMES'
 '2620-22 EAST KENWOOD BLVD CONDO' 'MARIETTA CONDOMINIUM'
 'CONDOMINIUM 3421' 'RIVER TRAIL' 'KENWOOD CONDOMINIUMS' 'VILLA MARIETTA'
 'LAKE LOCUST' 'GEORGETOWN EAST' 'WAHL AVENUE CONDOMINIUMS'
 'PROSPECT VILLAGE 2572' 'TERRACE MANOR' 'PARK PLACE CONDOS' 'CITY LIGHTS'
 'HUBBARD HILL CONDOMINIUM' 'PARK VIEW CONDOMINIUMS'
 'PHARMACIE CONDOMINIUM' 'CITY VIEW/SKYLINE CONDOS'
 '2010-12 N BUFFUM ST CONDO' 'KANE COMMONS' 'HATHAWAY' 'TERRACE LAKE'
 'SUMMIT SQUARE' 'WARREN AVENUE CONDOMINIUM II' 'MAISONETTE CONDOMINIUMS '
 'LONDON HOUSE CONDOMINIUM' 'ASTOR/BRADY' 'COMMISSION HOUSE CONDOS'
 'BOWMAN LOFTS' 'STORY HILL CONDOMINIUM' 'THIRD STREET TOWNHOMES'
 'Bay View Twindominiums' 'MOORINGS OF BAYVIEW CONDOMINIUMS'
 'PRYOR CONDOMINIUM' 'TUDOR VILLAGE' 'WHITNALL ARMS'
 'WYNDEN COURT CONDOMINIUMS' 'VILLA BRAVO' '16: 2-Br ,16: 3-Br ,42: 3-Br '
 '4: 1-Br ,3: 1-Br ,1: 2-Br ,2: 2-Br ' '1: 1-Br ,4: 2-Br '
 'LAKE DRIVE BRICK TH' '2: 1-Br ,4: 2-Br ,1: 3-Br ' 'NEWBERRY BOULEVARD'
 'TERRACE ROW CONDOMINIUMS' '8: 1-Br ,8: 2-Br ' '24: 1-Br '
 '38: 1-Br ,3: 1-Br ,10: 2-Br ,7: 2-Br ,2: 2-Br ,2' '5: 2-Br ,5: 3-Br '
 'PECK ROW CONDOMINIUM' 'RESERVOIR CT AT BREWERS HILL'
 '1: 1-Br ,12: 2-Br ' 'BARTLETT MANOR' '2: 1-Br '
 '1: 2-Br ,1: 1-Br ,1: 1-Br ,1: 3-Br ' '12: 2-Br ' 'BRIDGE PORT CONDO'
 'KK RIVER VILLAS' 'SERVITE WOODS (TOWNHOUSES)' 'SHEMITIS COMMONS'
 'VICTORIANS ON VAN BUREN II' '1: 1-Br ,1: 1-Br ,2: 2-Br ,1: 2-Br '
 '2: 1-Br ,1: 2-Br ' '30: 1-Br ' 'FOREST RIDGE VILLAGE'
 'WARREN AVENUE CONDOMINIUM I' '1: 1-Br ,2: 2-Br ' 'BRADY PLACE TOWNHOMES'
 'ERNEST FLAGG TWNHMS' 'LOFTS ON THE PARK' 'SKY CONDOMINIUMS'
 '3: 1-Br ,1: 2-Br ' 'ASTOR ROW' 'FARWELL MANOR CONDOMINIUMS'
 'NEWBERRY BOULEVARD CONDO' '2: 1-Br ,24: 2-Br ,8: 3-Br ' 'MAPLEWOOD'
 '6: 1-Br ,24: 2-Br ,7: 3-Br ,6: 3-Br ,43: 4-Br ,1' '9: 2-Br '
 'BELLEVIEW CONDOMINIUM' 'GEORGETOWN ROW' 'HORIZON VIEW' '3: 2-Br '
 'COBBLERS TOWNHOMES ' 'DREAMLAND LOFT CONDOMINIUM'
 'WYOMING PLACE CONDOMINIUMS' '18: 1-Br ,48: 2-Br ' '1: 2-Br ,3: 2-Br '
 '3: 1-Br ,1: 4-Br ' '2: 2-Br ,1: 2-Br ,1: 1-Br '
 '1: 2-Br ,1: 2-Br ,1: 3-Br ,1: 3-Br ' '26: 2-Br '
 '26: 2-Br ,4: 3-Br ,6: 3-Br ' '30: 2-Br ,6: 3-Br '
 '18: 1-Br ,20: 2-Br ,8: 3-Br ' '32: 2-Br ' '81: 1-Br '
 '12: 1-Br ,24: 2-Br ' '51: 1-Br ' '24: 2-Br ,3: 3-Br '
 '8: 1-Br ,9: 2-Br ,6: 3-Br ,1: 3-Br ' '10: 1-Br ,8: 2-Br ,3: 3-Br '
 '1: 1-Br ,24: 2-Br ,5: 2-Br ' '15: 2-Br ,21: 3-Br '
 'TRINITY COURT CONDOMINIUMS' '6: 1-Br ,6: 2-Br ' 'KANE PLACE CONDOMINIUM'
 '10: 1-Br ,4: 2-Br ' '1: 1-Br ,3: 2-Br ,2: 3-Br '
 'CASS MANOR CONDOMINIUM' 'BUFFALO BUILDING' 'EAST LAKE CONDOMINIUMS '
 '90: Efficency ' '1: 2-Br ' 'CHATEAU DORE' 'WAHL & BELLEVIEW' '16: 2-Br '
 '5: 1-Br ' 'ARLINGTON PLACE' '8: 1-Br ,1: 3-Br ' '20: 2-Br '
 '8: 2-Br ,8: 2-Br ' '301 RESERVOIR CONDOMINIUM' 'LAKEVIEW'
 'PARK PRAIRIE CONDOMINIUM' '16: 2-Br ,2: 3-Br ' 'VIENNA COURT'
 '2: 1-Br ,2: 2-Br ,1: 2-Br ,1: 3-Br ' 'GRANVILLE HEIGHTS' 'HAVEN'
 'RUBIN HOUSE' 'CRAMER COLUMBIA' 'HADLEY MANOR CONDOMINIUM'
 'PARKVIEW CONDOMINIUM' 'ST. REGIS CONDOMINIUMS' 'RESERVOIR HEIGHTS'
 'DI SALVO HOUSE CONDOMINIUMS' '2124 PALMER CONDOMINIUMS'
 'PALMER HOUSE CONDOMINIUM' 'HISTORIC 3RD ST LOFTS CONDOMINIUM'
 '406-08 EAST BROWN ST CONDO' '2004-2006 N BUFFUM ST CONDO'
 'ASTOR PLACE CONDOMINIUM' 'CORNERSTONE TOWNHOMES'
 'EAST NOCK STREET CONDO' 'CASSIDY HEIGHTS CONDOS' 'COLDSPRING TERRACE'
 'WILSON PARK MANOR' '18: 1-Br ,6: 2-Br ' '8: 1-Br ,6: 1-Br ,2: 2-Br '
 'BREW CITY PILSNER CONDOMINIUM' '22: 1-Br ' '2451-51A N HUMBOLDT CONDOS'
 'RIVER EAST CONDOMINIUMS' '11: 1-Br ,1: 1-Br ,10: 2-Br '
 'BUCKLEY/BURROUGHS CONDOS' '79: 1-Br ,40: 1-Br ,43: 2-Br '
 '2: 1-Br ,23: 2-Br ' '9: 3-Br ,31: 3-Br ' '30: 1-Br ,15: 2-Br '
 '7: 2-Br ,17: 3-Br ' '23: 1-Br ,6: 2-Br ' '1: 1-Br '
 '17: 1-Br ,1: 1-Br ,31: 2-Br ,6: 3-Br ' '25: 1-Br ,5: 2-Br '
 '33: 1-Br ,15: 2-Br ' '18: 1-Br ,7: 2-Br ' '7: 1-Br ,10: 2-Br '
 '2: 1-Br ,3: 1-Br ,6: 2-Br ,18: 2-Br ,6: 2-Br ,6:' '28: 1-Br ,2: 2-Br '
 '50: 1-Br ,20: 2-Br ,40: 2-Br ,20: 1-Br ,10: 2-Br' '32: 1-Br '
 '8: 1-Br ,24: 2-Br ' '13: 2-Br ,57: 2-Br ,2: 3-Br ' '13: 1-Br '
 '40: 2-Br ' '4: 1-Br ,12: 2-Br ' '2: 1-Br ,1: 2-Br ,1: 3-Br ' '14: 2-Br '
 '8: 1-Br ,1: 2-Br ' '3: 1-Br ,6: 2-Br '
 '12: 1-Br ,12: 1-Br ,8: 2-Br ,20: 2-Br ,6: 2-Br ,'
 '2: 1-Br ,3: 1-Br ,6: 1-Br ,18: 2-Br ,6: 2-Br ,6:'
 '7: 1-Br ,7: 1-Br ,7: 1-Br ,7: 1-Br ,10: 2-Br ,10' 'DeSOUSA CONDOMINIUM'
 '17: 1-Br ,11: 2-Br ' 'HALSEY HOUSE' '7: 2-Br ,1: 1-Br '
 'FRANKLIN PLACE CONDOS' 'WESTMOOR CONDOMINIUMS'
 '1: 1-Br ,1: 2-Br ,1: 3-Br ' '1: 2-Br ,2: 3-Br ,1: 1-Br '
 '185: 1-Br ,1: 2-Br ' '3: 1-Br ,7: 2-Br ,6: 3-Br ' '2: 1-Br ,4: 2-Br '
 '13: 2-Br ' 'GORDON COURT CONDOMINIUM' 'WARREN AVENUE CONDOS'
 '6: 1-Br ,6: 2-Br ,1: 4-Br ' 'IRON WELL CONDOMINIUMS' '5: 1-Br ,6: 3-Br '
 '24: 3-Br ,5: 1-Br ,2: 2-Br ' 'EAST HAMPSHIRE ' 'NORTH LAKE PARK'
 'MARSHALL STREET ' 'BAYVIEW GARDENS' '36: 1-Br ,6: 2-Br '
 '37: 1-Br ,1: 2-Br ' '12: 2-Br ,12: 3-Br ' '48: 1-Br ,24: 2-Br '
 '18: 1-Br ,6: 1-Br ,12: 2-Br ' '5: 1-Br ,17: 2-Br ,2: 3-Br ' '7: 1-Br '
 '21: 1-Br ,3: 1-Br ,15: 2-Br ,6: 2-Br ,4: 1-Br ,2' '88: 1-Br ,6: 2-Br '
 '8: 1-Br ,12: 1-Br ,10: 2-Br ,2: 3-Br ' '10: 1-Br ,11: 2-Br '
 'RIDGE COURT' '1111-1113 EAST VIENNA AVENUE' 'NEW LAKE CONDO'
 'PARK/SUMMIT CONDOMINIUM' 'VINEYARD TERRACE' 'CAMP HOUSE CONDOMINIUMS'
 'PARK LAFAYETTE' 'WARREN MANOR' 'STRAUSS HAUS CONDOMINIUM'
 'W POINT CONDOMINIUMS' 'PROSPECT 27' 'NEWHALL MANOR CONDOMINIUM'
 '2116 N PALMER CONDOMINIUMS' 'BREW CITY STOUT CONDOMINIUM'
 'RIVERVIEW CONDOMINIUM' 'TRACK TERRACE CONDOMINIUM'
 '20: 1-Br ,42: 1-Br ,13: 2-Br ,2: 3-Br ' '12: 2-Br ,12: 2-Br ,12: 2-Br '
 '36: 1-Br ,6: 2-Br ,24: 2-Br ,24: 2-Br ' '6: 2-Br ,102: 2-Br '
 '2: 1-Br ,3: 2-Br ' '33: 1-Br ,6: 2-Br ' 'BAYVIEW BEACH TOWNHOME'
 '12: 1-Br ,8: 2-Br ' '28: 1-Br ,1: 2-Br ' '7: 1-Br ,1: 2-Br '
 '2: 2-Br ,4: 1-Br ' '2408 TERRACE CONDOMINIUM'
 'HUMBOLDT MANOR CONDOMINIUM' 'MAPLE CONDOMINIUM' '6: 2-Br ,4: 3-Br '
 '13: 3-Br ' '2: 2-Br ,1: 2-Br ,1: 2-Br ' '32: 1-Br ,4: 2-Br '
 '4: 2-Br ,4: 2-Br ' '36: 1-Br ,3: 2-Br ,3: 2-Br ' '8: 2-Br ,39: 2-Br '
 '1: 1-Br ,1: 2-Br ' '14: 2-Br ,7: 3-Br ' 'GRAHAM ROW CONDOMINIUM'
 'RAG TIME CONDOMINIUMS' 'NATIONAL AVENUE CONDOMINIUMS'
 '41: 1-Br ,16: 1-Br ,32: 1-Br ,16: 1-Br ' '6: 1-Br ,1: 2-Br '
 '168: 2-Br ' '48: 1-Br ' 'MY2-TWO FAMILY HOME' 'FERNWOOD CONDOMINIUM'
 '138: 1-Br ,12: 2-Br ' '18: 1-Br ,12: 2-Br ' '26: 1-Br ,6: 2-Br '
 '10: 1-Br ' '148: 1-Br ,1: 2-Br ' '33: 1-Br ,3: 2-Br '
 '45: 1-Br ,3: 2-Br ' '12: 2-Br ,6: 2-Br ,6: 2-Br '
 '4: 1-Br ,1: 2-Br ,10: 1-Br ,12: 1-Br ,12: 1-Br ' '50: 2-Br ,22: 3-Br '
 '56: 1-Br ,42: 1-Br ,24: 1-Br ,40: 2-Br ,32: 2-Br'
 '61: 1-Br ,12: 2-Br ,1: 3-Br ' '12: 1-Br ,14: 2-Br ' 'LAURA GILL HOUSE'
 '12: 1-Br ,12: 1-Br ,12: 2-Br ' '4: 1-Br ,14: 2-Br ']

Style
['Cape Cod' 'Colonial' 'Cottage' 'Dplx Bungalow' 'Duplex N/S' 'Duplex O/S'
 'Milwaukee Bungalow' 'Ranch' 'Residence O/S' 'Split Level' 'Townhouse'
 'Triplex' 'Bi-Level' 'Duplex-Cottage' 'Mansion' 'Tudor' '**'
 'Rm or Rooming House' 'OBY' 'HI RISE' 'HIRISE' 'APARTMENT' 'Hi Rise'
 'Apartment' 'TOWNHOUSE' 'WAREHOUSE' 'Apartment-Mix' 'Apartment  - Mix'
 'Apartment- Mix' 'HI-RISE' 'DUPLEX' 'TOWN HOUSE' 'SPLIT LEVEL'
 'apartment' 'MIXED STYLES' 'Hi-Rise' 'townhouse' 'UNKWN' 'hi-rise' '1'
 'Town House' 'RANCH' 'BI-Tri' 'BI/TRI' 'BILEVEL' 'TRILEVEL' 'Warehouse'
 'townhse' 'Duplex' 'Apartment:  Units' 'Apartment: 10: 2-Br  Units'
 'Apartment: 3: 1-Br ,3: 2-Br  Units'
 'Apartment: 3: 2-Br ,15: 1-Br  Units' 'Apartment: 4: 3-Br  Units'
 'Apartment: 6: 1-Br  Units' 'Apartment: 6: 1-Br ,4: 2-Br  Units'
 'Apartment: 8: 1-Br  Units' 'Apartment: 18: 2-Br ,1: 3-Br  Units'
 'Apartment: 2: 2-Br ,2: 1-Br  Units' 'Apartment: 4: 2-Br  Units'
 'Apartment: 8: 2-Br  Units'
 'Apartment: 1: 1-Br ,1: 1-Br ,1: 2-Br ,1: 2-Br  U'
 'Apartment: 1: 1-Br ,1: 2-Br ,1: 2-Br ,1: 2-Br  U'
 'Apartment: 1: 2-Br ,1: 1-Br ,1: 1-Br ,1: 2-Br ,1'
 'Apartment: 1: 3-Br ,1: 3-Br ,1: 3-Br ,1: 3-Br ,1'
 'Apartment: 24: 1-Br ,12: 2-Br  Units' 'Apartment: 4: 1-Br  Units'
 'Apartment: 4: 1-Br ,1: 2-Br  Units' 'Apartment: 4: 1-Br ,4: 2-Br  Units'
 'Apartment: 5: 1-Br ,6: 2-Br  Units' 'Apartment: 6: 1-Br ,7: 2-Br  Units'
 'Apartment: 6: 2-Br  Units'
 'Apartment: 64: 1-Br ,4: 1-Br ,8: 3-Br ,62: 1-Br '
 'Apartment: 7: 2-Br  Units' 'Apartment: 1: 1-Br ,3: 2-Br  Units'
 'Apartment: 1: 2-Br ,8: 3-Br  Units' 'Apartment: 12: 1-Br  Units'
 'Apartment: 16: 2-Br ,2: 2-Br ,1: 2-Br ,8: 2-Br ,'
 'Apartment: 2: 2-Br ,1: 3-Br  Units' 'Apartment: 20: 1-Br  Units'
 'Apartment: 3: 1-Br ,10: 1-Br  Units'
 'Apartment: 5: 1-Br ,1: 2-Br  Units' 'Apartment: 6: 1-Br ,2: 2-Br  Units'
 'Apartment: 6: 3-Br  Units'
 'Apartment: 8: 2-Br ,4: 3-Br ,8: 2-Br ,4: 3-Br  U'
 'Apartment: 9: 3-Br  Units' 'Apartment: 1: 2-Br ,1: 2-Br  Units'
 'Apartment: 16: 1-Br  Units' 'Apartment: 24: 2-Br  Units'
 'Apartment: 3: 2-Br ,1: 2-Br  Units' 'Apartment: 18: 1-Br  Units'
 'Apartment: 3: 2-Br ,1: 3-Br  Units' 'Apartment: 4: 1-Br ,8: 2-Br  Units'
 'Apartment: 11: 2-Br ,1: 3-Br  Units'
 'Apartment: 2: 1-Br ,1: 4-Br ,1: 3-Br  Units'
 'Apartment: 2: 2-Br ,2: 3-Br  Units'
 'Apartment: 1: 1-Br ,1: 1-Br ,1: 1-Br ,1: 1-Br  U'
 'Apartment: 1: 2-Br ,1: 2-Br ,1: 2-Br ,1: 2-Br  U'
 'Apartment: 5: 2-Br ,4: 3-Br  Units' 'Apartment: 6: 3-Br ,1: 2-Br  Units'
 'Apartment: 2: 1-Br ,2: 2-Br  Units' 'Apartment: 5: 2-Br  Units'
 'Apartment: 8: 2-Br ,4: 2-Br  Units' 'Apartment: 3: 1-Br ,9: 2-Br  Units'
 'Apartment: 32: 3-Br  Units' 'Apartment: 4: 1-Br ,5: 2-Br  Units'
 'Apartment: 2: 2-Br  Units' 'Apartment: 4: 1-Br ,2: 2-Br  Units'
 'Apartment: 5: 1-Br ,1: 2-Br ,2: 2-Br  Units'
 'Apartment: 15: 1-Br ,13: 2-Br ,47: 1-Br  Units'
 'Apartment: 4: 2-Br ,2: 3-Br  Units' 'Apartment: 1: 2-Br ,2: 1-Br  Units'
 'Apartment: 2: 2-Br ,1: 1-Br ,1: 3-Br  Units' 'Apartment: 3: 1-Br  Units'
 'Apartment: 3: 1-Br ,2: 2-Br  Units' 'Apartment: 3: 2-Br ,1: 1-Br  Units'
 'Apartment: 49: 1-Br ,1: 2-Br  Units'
 'AP1 (Conventional Apt with 4-6 Units)' 'Auto & Auto Body Repair'
 'Bank, Savings & Loan' 'Beer Depot & Liquor Store' 'Billboard'
 'Bowling Alley' 'Car Dealer, Truck Dealer' 'Car Wash' 'Church'
 'Commercial Exempt' 'Day Care Center' 'Discount Department Store'
 'Duplex Old/Style' 'Fast Food Operation' 'Hotel Select Service'
 'Mansions With Commercial Usage' 'Medical Clinic' 'Multi Story Warehouse'
 'Neighborhood Center' 'Not Listed (Exm or Mfg)' 'Nursing Home'
 'Office Building - 1 Story' 'Office Building - Class B'
 'Office Building - Multi Story ( Ofc & Apt)'
 'Office Warehouse Park - multi tenants' 'Parking Garage, Parking Ramp'
 'Parking Lot' 'Pharmacy' 'Pole Building' 'Quick Oil Change'
 'Residence Old/Style' 'Residence With Commercial Usage' 'School'
 'Service Building' 'Sit Down Restaurant'
 'Special - to use this code see supv.'
 'Store Bldg - Multi Story (Store & Apt, Store & O'
 'Store Building - Multiple Tenants'
 'Store Building - Single tenant, 1 story' 'Strip Shopping Center'
 'Svc Station w Conv and Carwash'
 'Svc Station w Conv, Carwash, and Restaurant' 'Svs Station w Conv Store'
 'Tavern' 'Tire Dealer' 'Trucking Terminal' 'Used Car Sale'
 'Warehouse Building - 1 Story' 'Commercial Land' nan 'Condo Townhouse'
 'Condo Ranch' 'Low Rise 1-3 Stories' 'Subsidized Apartments'
 'Svc Station w Conv and Restaurant'
 'AP2 (Conventional Apt with 7-11 Units)' 'Condo BI/TRI Level'
 'Residence O/S 2sty+' 'AP4 (Conv Apt with 21 or more Units)'
 'AP3 (Conventional Apt with 12-20 Units)' 'Office Building - Class A'
 'Res O/S A & 1/2' 'Super Market' 'Townhouse Apartment'
 'Store Bldg - Multi Story (Store & Apt, Store & Ofc'
 'Custard Stand, Drive-In' 'Laundromat' 'Multiple Residential Bldgs'
 'Condo Duplex' 'Mid RIse 4-12 Stories' 'Res O/S 1 Story'
 'High Rise > 12 Stories' 'Muffler Shop'
 'R/M (Res. Multiple) or Rooming House' 'Bulk Storage' 'Mini Warehouse'
 'Licensed Res Care Facility,  Halfway House, etc.'
 'Apartment: 16: 2-Br ,16: 3-Br ,42: 3-Br  Units'
 'Apartment: 4: 1-Br ,3: 1-Br ,1: 2-Br ,2: 2-Br  U'
 'Apartment: 1: 1-Br ,4: 2-Br  Units'
 'Apartment: 2: 1-Br ,4: 2-Br ,1: 3-Br  Units'
 'Single Tenant Multi Story Retail' '810'
 'Apartment: 8: 1-Br ,8: 2-Br  Units' 'Apartment: 24: 1-Br  Units'
 'Apartment: 38: 1-Br ,3: 1-Br ,10: 2-Br ,7: 2-Br '
 'Apartment: 5: 2-Br ,5: 3-Br  Units' 'Lumber Yards'
 'Apartment: 1: 1-Br ,12: 2-Br  Units' 'Hotel Limited Service' 'TRIPLEX'
 '`APARTMENT' 'Apartment: 2: 1-Br  Units'
 'Apartment: 1: 2-Br ,1: 1-Br ,1: 1-Br ,1: 3-Br  U'
 'Apartment: 12: 2-Br  Units'
 'Apartment: 1: 1-Br ,1: 1-Br ,2: 2-Br ,1: 2-Br  U'
 'Apartment: 2: 1-Br ,1: 2-Br  Units' 'Apartment: 30: 1-Br  Units'
 'Office Building - Class C' 'Apartment: 1: 1-Br ,2: 2-Br  Units' '303'
 'Apartment: 3: 1-Br ,1: 2-Br  Units' 'Duplex - Cottage' 'ROW HOUSE'
 'Garden Style ' 'Apartment: 2: 1-Br ,24: 2-Br ,8: 3-Br  Units'
 'Apartment: 6: 1-Br ,24: 2-Br ,7: 3-Br ,6: 3-Br ,'
 'Apartment: 9: 2-Br  Units' 'COLONIAL' 'Garden Style' '6242010'
 'Apartment: 3: 2-Br  Units' 'MOTEL STYLE'
 'Apartment: 18: 1-Br ,48: 2-Br  Units'
 'Apartment: 1: 2-Br ,3: 2-Br  Units' 'Apartment: 3: 1-Br ,1: 4-Br  Units'
 'Apartment: 2: 2-Br ,1: 2-Br ,1: 1-Br  Units'
 'Apartment: 1: 2-Br ,1: 2-Br ,1: 3-Br ,1: 3-Br  U'
 'Apartment: 26: 2-Br  Units'
 'Apartment: 26: 2-Br ,4: 3-Br ,6: 3-Br  Units'
 'Apartment: 30: 2-Br ,6: 3-Br  Units'
 'Apartment: 18: 1-Br ,20: 2-Br ,8: 3-Br  Units'
 'Apartment: 32: 2-Br  Units' 'Apartment: 81: 1-Br  Units'
 'Apartment: 12: 1-Br ,24: 2-Br  Units' 'AP 1'
 'Apartment: 51: 1-Br  Units' 'Funeral Home'
 'Apartment: 24: 2-Br ,3: 3-Br  Units'
 'Apartment: 8: 1-Br ,9: 2-Br ,6: 3-Br ,1: 3-Br  U'
 'Apartment: 10: 1-Br ,8: 2-Br ,3: 3-Br  Units'
 'Apartment: 1: 1-Br ,24: 2-Br ,5: 2-Br  Units'
 'Apartment: 15: 2-Br ,21: 3-Br  Units'
 'Apartment: 6: 1-Br ,6: 2-Br  Units'
 'Apartment: 10: 1-Br ,4: 2-Br  Units'
 'Apartment: 1: 1-Br ,3: 2-Br ,2: 3-Br  Units' 'Supper Club'
 'Apartment: 90: Efficency  Units' 'Apartment: 1: 2-Br  Units'
 'Apartment: 16: 2-Br  Units' 'Apartment: 5: 1-Br  Units'
 'Apartment: 8: 1-Br ,1: 3-Br  Units' 'Apartment: 20: 2-Br  Units'
 'Apartment: 8: 2-Br ,8: 2-Br  Units' 'Mobile Home Parks'

### Datenaufbereitung

In der vorherigen Dateneinsicht haben sich folgende Aufbereitsungsschritte f√ºr die einzelnen Variablen ergeben:

- taxkey: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet. 
- Address: Fehlende Eintr√§ge (NaN) werden auf "Unknown" gesetzt.
- CondoProject: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- District
- nbhd_ Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- Style: Fehlende Eintr√§ge (NaN) werden auf "Unknown" gesetzt.
- Extwall: Fehlende Eintr√§ge (NaN) werden auf "Unknown" gesetzt.
- Stories
- Year_Built: Eintr√§ge bei denen eine extreme niedrige Jahresanzahl (n < 1000) auftritt werden gel√∂scht.
- Rooms: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- FinishedSqft: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- Units
- Bdrms: Eintr√§ge bei denen eine extreme und unnat√ºrliche Anzahl an Schlafzimmern (n > 100) auftrit werden gel√∂scht.
- Fbath
- Hbath
- Lotsize: Datentyp in Integer √§ndern.
- Fin_sqft: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- Taxkey: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- Nbhd: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.
- Nr_of_rms: Variable wird gel√∂scht, da diese zu viele NaN-Values beinhaltet.

- PropType: Filterung auf den Wert "Residential" (Wohnhaus)
- PropertyID: Kann gel√∂scht werden, da diese Variable keine sinnvollen Informationen in Bezug auf die Zielvariable beinhaltet.
- CondoProject: Kann gel√∂scht werden, da diese Variable keine sinnvollen Informationen in Bezug auf die Zielvariable beinhaltet.
- Sale_price: Fehlende Eintr√§ge (NaN) werden gel√∂scht, da es sich hierbei um die Zielvariable handelt und es nur gelabelte Daten ben√∂tigt. Anpassung der Punktation und des Datentyps. Extremwerte werden gel√∂scht.
- Sale_date: Anpassung des Datenformats und Aufteilung der Monats- und Jahresinformation auf zwei Spalten.

Duplikate l√∂schen

In [672]:
# Duplikate l√∂schen
df = df.drop_duplicates()

Filterung der Variable PropType auf "Residential" (Wohnhaus)

In [673]:
# Selektierung von proptype auf "Residential" (Wohnhaus)
df = df[df["PropType"] == "Residential"]
df = df.drop(columns=['PropType'])

Variablen ohne Informationen in Bezug auf die Zeilvariable werden gel√∂scht

In [674]:
#TODO Entscheidne was mit Address passier
list_var_toDelete = ['PropertyID', 'CondoProject', 'Sale_date', 'Address']

df = df.drop(columns=list_var_toDelete)

Ungelabeldete Daten werden gel√∂scht

In [675]:
unlabeled = df[df["Sale_price"].isna()].copy()
print(f"Der Datensatz hat {len(unlabeled)} ungelabeldete Eintr√§ge")
labeled = df[df["Sale_price"].notna()]
print(f"Der Datensatz hat {len(labeled)} gelabeldete Eintr√§ge")

# NaN-Werte der Spalze Sale_price werden gel√∂scht, da es sich hierbei um die Zielvariable hadnelt
df = df.dropna(subset=['Sale_price'])

Der Datensatz hat 8 ungelabeldete Eintr√§ge
Der Datensatz hat 51649 gelabeldete Eintr√§ge

Zusammenf√ºhrung der Spalten Nbhd und nbhd

In [676]:
check_nbhd = df["Nbhd"].notna() & df["nbhd"].notna() 
print(df[check_nbhd])

df["nbhd"] = df["nbhd"].fillna(df["Nbhd"])
df = df.drop(columns=['Nbhd'])
print(df["nbhd"].isna().sum())

Empty DataFrame
Columns: [Taxkey, District, Nbhd, Style, Extwall, Stories, Year_Built, Nr_of_rms, Fin_sqft, Units, Bdrms, Fbath, Hbath, Lotsize, Sale_price, taxkey, nbhd, Rooms, FinishedSqft]
Index: []
57

Zusammenf√ºhrung der Spalten Nr_of_rms und Rooms

In [677]:
check_room = df["Nr_of_rms"].notna() & df["Rooms"].notna() 
print(df[check_room])


df["Nr_of_rms"] = df["Nr_of_rms"].fillna(df["Rooms"])
df = df.drop(columns=['Rooms'])

print(df["Nr_of_rms"].isna().sum())

Empty DataFrame
Columns: [Taxkey, District, Style, Extwall, Stories, Year_Built, Nr_of_rms, Fin_sqft, Units, Bdrms, Fbath, Hbath, Lotsize, Sale_price, taxkey, nbhd, Rooms, FinishedSqft]
Index: []
153

Zusammenf√ºhrung der Spalten Taxkey und taxkey

In [678]:
check_nbhd = df["Taxkey"].notna() & df["taxkey"].notna() 
print(df[check_nbhd])

df["taxkey"] = df["taxkey"].fillna(df["Taxkey"])
df = df.drop(columns=['Taxkey'])

print(df["taxkey"].isna().sum())

Empty DataFrame
Columns: [Taxkey, District, Style, Extwall, Stories, Year_Built, Nr_of_rms, Fin_sqft, Units, Bdrms, Fbath, Hbath, Lotsize, Sale_price, taxkey, nbhd, FinishedSqft]
Index: []
0

Zusammenf√ºhrung der Spalten FinishedSqft und Fin_sqft

In [679]:
# Anpassung der Punktation inkl. √Ñnderung des Datentyp von Lotsize in Int
df['FinishedSqft'] = pd.to_numeric(df['FinishedSqft'].astype(str).str.replace(',', '', regex=False),errors='coerce').astype('float')

check_nbhd = df["Fin_sqft"].notna() & df["FinishedSqft"].notna() 
print(df[check_nbhd])

df["FinishedSqft"] = df["FinishedSqft"].fillna(df["Fin_sqft"])
df = df.drop(columns=['Fin_sqft'])

print(df["FinishedSqft"].isna().sum())

Empty DataFrame
Columns: [District, Style, Extwall, Stories, Year_Built, Nr_of_rms, Fin_sqft, Units, Bdrms, Fbath, Hbath, Lotsize, Sale_price, taxkey, nbhd, FinishedSqft]
Index: []
101

Umwandlung der Spalten mit eig. gannzahligen Datenformat

In [680]:
 # Spalten die eig. ganzzahlig sind, werden auf das Datenformat Int ge√§ndert
for col in df.select_dtypes(include="float"):
    if (df[col].dropna() % 1 == 0).all():  # Pr√ºfung, ob alle Werte auf .0 enden (ganzzahlig sind), dabei werden NaN Werte nicht betrachtet
        df[col] = df[col].astype("Int64")

Anpassung der Spalte Lotsize (Punktation, Datenformat, Extremwerte)

In [681]:
# Anpassung der Punktation inkl. √Ñnderung des Datentyp von Lotsize in Int
df['Lotsize'] = pd.to_numeric(df['Lotsize'].astype(str).str.replace(',', '', regex=False),errors='coerce').astype('Int64')

# Extremwerte der Spalte Lotsize werden gel√∂scht
df.loc[df['Lotsize'] > 200000, 'Lotsize'] = np.nan
df = df.dropna(subset=['Lotsize'])

Anpassung der Spalte Sale_price (Punktation, Datenformat, Extremwerte)

In [682]:
# Anpassung der Punktation inkl. √Ñnderung des Datentyp von Sale_price in Int
df['Sale_price'] = pd.to_numeric(df['Sale_price'].astype(str).str.replace('[^\d]', '', regex=True), errors='coerce').astype('Int64')

# Extremwerte der Spalte Sale_price werden gel√∂scht
df.loc[df['Sale_price'] >= 5000000, 'Sale_price'] = np.nan
df = df.dropna(subset=['Sale_price'])

Anpassung der Spalte Extwall (Nan-Werte, Datenformat)

In [683]:
df['Extwall'] = df['Extwall'].fillna('Unknown')

# Anpssung der Satzzeichen von extwall
df["Extwall"] = df["Extwall"].str.replace("-", "_").str.replace("/", "_").str.replace(" ", "")

Anpassung der Spalte Units (Extremwerte)

In [684]:
# Extremwerte der Spalte units werden gel√∂scht
df.loc[df['Units'] > 12, 'Units'] = np.nan
df = df.dropna(subset=['Units'])

Anpassung der Spalte Hbath (Extremwerte)

In [685]:
# Extremwerte der Spalte hbath werden gel√∂scht
df.loc[df['Hbath'] > 9, 'Hbath'] = np.nan
df = df.dropna(subset=['Hbath'])

Anpassung der Spalte Year_Built (unrealistische Werte)

In [686]:
# Unrealistische Werte auf NaN setzten
df.loc[df['Year_Built'] < 1000, 'Year_Built'] = np.nan

Anpassung der Spalte Bdrms (unrealistische Werte)

In [687]:
df.loc[df['Bdrms'] > 100, 'Bdrms'] = np.nan

Anpassung der Spalte Adress (NaN-Werte, Hausnummern entfernen)

In [688]:
#TODO Entscheidne was mit Address passier
# df['Address'] = df['Address'].fillna('Unknown')
# df["Address"] = df["Address"].str.replace(r"^\d+\s*", "", regex=True)

Anpassung der Spalte Style (NaN-Werte, Vereinheitlichung der Eintr√§he)

In [689]:
df['Style'].unique()

array(['Cape Cod', 'Colonial', 'Cottage', 'Dplx Bungalow', 'Duplex N/S',
       'Duplex O/S', 'Milwaukee Bungalow', 'Ranch', 'Residence O/S',
       'Split Level', 'Townhouse', 'Triplex', 'Bi-Level',
       'Duplex-Cottage', 'Mansion', 'Tudor', '**', 'Rm or Rooming House',
       'OBY', nan, 'Residence O/S 2sty+', 'Res O/S A & 1/2',
       'Multiple Residential Bldgs', 'Res O/S 1 Story', 'AP 1',
       'Contemporary', 'Res O/S 2sty +', 'Modern Multiple Story',
       'Duplex Bungalow'], dtype=object)

In [690]:
# # NaN Werte der Kategorischen Variablen auf 'Unknown' setzten
# df['Style'] = df['Style'].fillna('Unknown')

df["Style"] = df["Style"].map(mapping).fillna("Other/Unknown")


# # Vereinheitlichung der Style-Eintr√§ge (OpenAI, 2025)

# PATTERNS = {
#     "mixed": [
#         r"\bmix(ed)? styles?\b", r"\bmixed\b", r"\bmix\b",
#         r"office.*ap(t|artment)", r"store.*ap(t|artment)",
#         r"residence.*commercial", r"mansions?\s+with\s+commercial",
#         r"multiple residential bldgs?"
#     ],

#     "commercial": [
#         r"\bcommercial\b", r"\bwarehouse\b", r"mini warehouse", r"bulk storage",
#         r"warehouse\s+vintage", r"multi\s*story warehouse",
#         r"\b(retail|store|shopping|super market|supermarket)\b",
#         r"strip shopping center", r"regional shopping center", r"single tenant.*retail",
#         r"\boffice\b", r"office building", r"office\s*warehouse",
#         r"\bhotel\b", r"\bmotel\b", r"extended stay",
#         r"select service", r"limited service",
#         r"\brestaurant\b", r"fast food", r"sit down restaurant", r"supper club", r"tavern", r"custard stand",
#         r"\bauto\b", r"car wash", r"car dealer", r"auto repair", r"auto rental", r"quick oil change", r"tire dealer",
#         r"\bmuffler\b", r"svc? station", r"gas", r"parking (lot|garage|ramp)",
#         r"\bchurch\b", r"religious institution",
#         r"\bschool\b", r"day care", r"medical clinic", r"pharmacy", r"\blaundromat\b",
#         r"funeral home", r"theater", r"bowling alley", r"sport.*recreat",
#         r"bank", r"post office", r"social security building",
#         r"maintenance hangar", r"trucking terminal", r"lumber yard",
#         r"billboard", r"salvage yard", r"beer depot|liquor store",
#         r"neighborhood center", r"discount department store",
#         r"parking", r"warehouse building", r"commercial land",
#         r"super regional shopping center", r"service building",
#         r"office (building)?\s*-\s*class [a-d]", r"office building - (1 story|multi story)"
#     ],

#     "condo": [
#         r"\bcondo\b", r"condominium"
#     ],

#     "apartment": [
#         r"\bap(ar)?t?ment\b", r"\bap \d\b", r"\bap\d\b",
#         r"apartment:\s*\d",  
#         r"apartments?\s*-\s*8 or more units",
#         r"low rise", r"mid\s*rise", r"hi[-\s]?rise", r"high rise",
#         r"garden style", r"subsidized", r"affordable housing",
#         r"townhouse apartment"
#     ],

#     "town_duplex_multi": [
#         r"\bduplex\b", r"\btriplex\b", r"\bfourplex\b", r"\btri[-\s]?plex\b",
#         r"duplex[-\s/]?(cottage|bungalow|old/style|n/s|o/s|other|old style)",
#         r"\btown\s*house\b", r"\btownhouse\b", r"\btownhse\b", r"\brow house\b",
#         r"\bbi[-/\s]?tri\b", r"\bbi/tri\b", r"\bbi[-\s]?tri[-\s]?level\b",
#         r"\btrilevel\b", r"\btri[-\s]?level\b", r"\btriplex\b",
#         r"\bdplx\b"
#     ],

#     "special_res": [
#         r"room(ing)? house", r"\br/m\b", r"res\.\s*multiple",
#         r"licensed res(idential)? care", r"halfway house",
#         r"nursing home", r"assisted living",
#         r"mobile home parks?", r"\bmotel style\b"
#     ],

#     "single_family": [
#         r"\branch\b", r"\bcottage\b", r"cape cod", r"colonial", r"\btudor\b",
#         r"\b(split|bi)[-\s]?level\b", r"\bbilevel\b", r"\bbi-level\b",
#         r"\b(milwaukee\s+)?bungalow\b",
#         r"residence\b", r"res o/s", r"residence o/s", r"residence old/style",
#         r"modern multiple story", r"contemporary", r"\bmansion\b", r"\bhi rise ranch\b"
#     ],

#     "unknown": [
#         r"\bunkwn\b", r"\bnot listed\b", r"^\s*\**\s*$", r"^\s*$",
#         r"^[0-9\s,.'`-]+$" 
#     ],
# }

# conditions = []
# choices = []

# for label, regex_list in PATTERNS.items():
#     pattern = "|".join(regex_list)  # kombiniere alle regex zu einer
#     conditions.append(df["Style"].str.contains(pattern, case=False, na=False, regex=True))
#     choices.append(label)

# df["Style"] = np.select(conditions, choices, default="other")

Umwandlung der Spaltennamen in Kleinbuchtsaben

In [691]:
# Spaltenbezeichnung in Kleinbuchstaben umwandeln
df.columns = [x.lower() for x in df.columns.to_list()]

### After-Dateneinsicht

In [692]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47763 entries, 0 to 67585
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   district      47762 non-null  Int64
 1   style         47666 non-null  object
 2   extwall       47763 non-null  object
 3   stories       47735 non-null  float64
 4   year_built    47655 non-null  Int64
 5   nr_of_rms     47615 non-null  Int64
 6   units         47763 non-null  Int64
 7   bdrms         47615 non-null  Int64
 8   fbath         47758 non-null  Int64
 9   hbath         47763 non-null  Int64
 10  lotsize       47763 non-null  Int64
 11  sale_price    47763 non-null  Int64
 12  taxkey        47763 non-null  Int64
 13  nbhd          47706 non-null  Int64
 14  finishedsqft  47663 non-null  Int64
dtypes: Int64(12), float64(1), object(2)
memory usage: 6.4+ MB

In [693]:
# Ausgabe der Anzahl der Zeilen und Spalten
print(f'Anzahl Zeilen: {df.shape[0]}')
print(f'Anzahl Spalten: {df.shape[1]}')

Anzahl Zeilen: 47763
Anzahl Spalten: 15

In [694]:
# Ausgabe von f√ºnf zuf√§lligen Eintr√§gen
df.sample(n=5)

,district,style,extwall,stories,year_built,nr_of_rms,units,bdrms,fbath,hbath,lotsize,sale_price,taxkey,nbhd,finishedsqft
34930,1,Cape Cod,Aluminum_Vinyl,1.50,1949,5,1,3,1,0,5000,1430000,2320651000,1340,1201
40245,2,Ranch,Aluminum_Vinyl,1.00,1974,5,1,3,1,1,7980,2200000,1501873000,820,1122
3314,13,Cape Cod,Aluminum_Vinyl,1.00,1945,0,1,3,1,0,4920,105000,5510688000,4520,1042
65417,8,Duplex-Cottage,Aluminum_Vinyl,1.50,1903,0,2,4,2,0,4470,599000,4591103000,4120,1603
3548,13,Ranch,Brick,1.00,1968,0,1,2,1,0,7227,143750,6230705000,4660,1124

In [695]:
# Anzahl der NaN-Werte pro Spalte (Absolut und Relativ)
df_nan = get_nanValue(df)
df_nan

              Anzahl NaN  Prozent NaN_
nr_of_rms            148          0.31
bdrms                148          0.31
year_built           108          0.23
finishedsqft         100          0.21
style                 97          0.20
nbhd                  57          0.12
stories               28          0.06
fbath                  5          0.01
district               1          0.00
extwall                0          0.00
units                  0          0.00
hbath                  0          0.00
lotsize                0          0.00
sale_price             0          0.00
taxkey                 0          0.00

In [696]:
# Ausgabe der numerischen und kategorischen Variablen 
numericalVar = df.select_dtypes(include="number").columns.tolist()
categoricalVar = df.select_dtypes(include="object").columns.tolist()

print("Numerische Variablen:", numericalVar)
print("Kategorische Variablen:", categoricalVar)

Numerische Variablen: ['district', 'stories', 'year_built', 'nr_of_rms', 'units', 'bdrms', 'fbath', 'hbath', 'lotsize', 'sale_price', 'taxkey', 'nbhd', 'finishedsqft']
Kategorische Variablen: ['style', 'extwall']

In [697]:
# Ausgabe der statistischen Kennzahlen der numerischen Variablen
df.describe().T

,count,mean,std,min,25%,50%,75%,max
district,47762.00,8.37,4.25,1.00,5.00,9.00,12.00,15.00
stories,47735.00,1.32,0.43,0.00,1.00,1.00,1.50,3.50
year_built,47655.00,1939.30,24.83,1835.00,1923.00,1948.00,1955.00,2024.00
nr_of_rms,47615.00,4.02,4.33,0.00,0.00,5.00,7.00,70.00
units,47763.00,1.25,0.48,0.00,1.00,1.00,1.00,8.00
bdrms,47615.00,3.57,1.36,0.00,3.00,3.00,4.00,43.00
fbath,47758.00,1.49,0.61,0.00,1.00,1.00,2.00,10.00
hbath,47763.00,0.34,0.53,0.00,0.00,0.00,1.00,3.00
lotsize,47763.00,6108.75,3441.78,0.00,4720.00,5376.00,7072.00,128502.00
sale_price,47763.00,899860.89,1010206.87,0.00,134900.00,250000.00,1580000.00,4999000.00
taxkey,47763.00,3660438125.95,1518986809.41,39995000.00,2530003500.00,3230607000.00,5120788000.00,7160317000.00
nbhd,47706.00,2852.92,1411.81,40.00,1620.00,2760.00,4340.00,4920.00
finishedsqft,47663.00,1524.75,617.18,0.00,1092.00,1356.00,1842.00,11222.00

In [698]:
# Anzahl der einzigartigen Werte der kategorischen Variablen
df[categoricalVar].nunique().sort_values(ascending=False)

style      28
extwall    17
dtype: int64

## Daten speichern

In [699]:
# Speicherung des zusammengef√ºhrter Datensatzes
df.to_csv("../data/output_data/property_sales_2004-2024_preped.csv", index=False)

In [700]:
df.select_dtypes(include=['int64']).columns

Index(['district', 'year_built', 'nr_of_rms', 'units', 'bdrms', 'fbath',
       'hbath', 'lotsize', 'sale_price', 'taxkey', 'nbhd', 'finishedsqft'],
      dtype='object')

***
***